<main class="TelaPrincipal">
  <!--Primeiro Componente-->
  <section class="main-1-sec">
    <div class="item item-1">
      <div class="item-1-2">
        <h1 class="FirstFont">
          Conectando estudantes &nbsp;
          <img src="../../assets/images/homeimages/home-1-comp.png" width="75" height="75" class="home-img" />
        </h1>
      </div>
      <div class="item-1-2">
        <h1 class="FirstFont">
          <img src="../../assets/images/homeimages/home-2-comp.png" width="83" height="30"
            />na busca de companheiros
        </h1>
      </div>
      <div class="Item1-2">
        <h1 class="FirstFont">
          <a href="#"><button class="BotaoHome">Conecte-se</button></a><img
            src="../../assets/images/homeimages/home-3-comp.png" width="240" height="auto" style="margin-left: 10px" />de
          <span>quarto</span>
        </h1>
      </div>
    </div>
    <div class="item item-2">
      <img src="../../assets/images/homeimages/principal-img-home.png" width="650" height="523" class="home-img" />
    </div>
  </section>
  <!--Segundo Componente-->
  <section class="main-2-sec">
    <div class="div-2-home">
      <span class="font-comp-2"><b>Temos vagas</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/images/homeimages/home-emoji-comp.png"
          width="20" height="20" /></span><br /><span class="font2-comp-2"><b>Jornada universitária segura</b></span>
      <br /><span class="font3-comp-2">Nossa prioridade é garantir um ambiente confiável e protegido para você
        viver e </span><span class="font3-comp-2">
        aproveitar ao máximo sua jornada universitária.</span>
    </div>
    <div class="SegundoConteiner">
      <div class="div2-2-home">
        <div class="GrupoBox PrimeiroBox">
          <img src="../../assets/images/homeimages/olivia.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Olivia
              Rhye</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox SegundoBox">
          <img src="../../assets/images/homeimages/alex.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Alex
              Oliveira</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox TerceiroBox">
          <img src="../../assets/images/homeimages/lana.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Lana
              Steiner</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox QuartoBox">
          <img src="../../assets/images/homeimages/giovana.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Giovana
              Silva</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox QuintoBox">
          <img ng src="../../assets/images/homeimages/alfredo.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Alfredo
              Barbosa</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox SextoBox">
          <img src="../../assets/images/homeimages/paula.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Paula
              Azevedo</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox SetimoBox">
          <img src="../../assets/images/homeimages/luan.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Luan
              Lins</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
        <div class="GrupoBox OitavoBox">
          <img src="../../assets/images/homeimages/alfredo_b.png" class="PerfilImagem"/><br /><span class="item-font1"><b>Alfredo
              Pereira</b></span><span class="item-font2">Estudante de Engenharia</span>
        </div>
      </div>
    </div>
  </section>
  <!--Terceiro Componente-->
  <section class="section-3">
    <div class="TercDivPrin">
      <div class="DivSub1">
        <div class="DivSub1-2">
          <h1 class="FirstFont espacamento">Encontre o seu <br /><span>colega</span> ideal</h1>
          <br />
          <p class="Texto">
            Descubra milhares de opções de quartos para alugar, repúblicas e
            apartamentos compoartilhados. Conecte-se com estudantes com
            interesses semelhantes
          </p>
          <br />
          <a href="#"><button class="BotaoInscreva">Inscreva-se já</button></a>
        </div>

        <div class="div-sub-1-3">
          <div class="div-sub-1-3-1">
            <div class="div-sub-1-3-2">
              <b>Plataforma segura</b><br />
              <p class="NovaFont">
                Com protocolos avançados de criptografia e autenticação,
                garantimos a integridade das informações pessoais acadêmicas.
              </p>
            </div>
            <img src="../../assets/images/homeimages/setas2.png" width="200" height="160" />
            <div class="div-sub-1-3-3">
              <b>Match por interesses</b><br />
              <p class="NovaFont">
                Descubra seu match acadêmico. Junte-se a uma comunidade vibrante
                de estudantes com objetivos semelhantes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separar"></div>
      <div class="div-sub-2">
        <div class="div-sub-2-2">
          <img src="../../assets/images/homeimages/perfis.png" width="663" height="695" />
        </div>
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </section>
  <!--Quarto Componente-->
  <section class="section-4">
    <div class="div-cell">
      <img src="../../assets/images/homeimages/celular.png" width="300" height="603" class="img-cell" />
      <div class="div-imgs">
        <div class="div-seta">
          <img src="../../assets/images/homeimages/setas-cell.png" width="250" height="215" class="img-seta" />
        </div>
        <div class="div-text-cell">
          <p>
            <b>Alugue mais rápido<br /></b>Alcance uma audiência qualificada e
            faça sua propriedade se destacar com nossa plataforma intuitiva
          </p>
        </div>
      </div>
    </div>
    <div class="div-anuncie">
      <div>
        <img src="../../assets/images/homeimages/anunciante.png" width="383" height="594" class="img-anunciante" />
      </div>
      <div class="text-anuncie">
        <h1 class="FirstFont espacamento">Anuncie seu <span>imóvel</span> para estudantes</h1>
        <br />
        <p class="Texto">
          Não perca tempo, comece agora e anuncie seu imóvel de forma fácil e
          rápida e encontre milhares de estudantes prontos para se mudar.
        </p>
        <br /><a href="#"><button class="BotaoAnuncie">Anuncie agora</button></a>
      </div>
    </div>
  </section>
  <br><br><br>
</main>