
.mat-mdc-form-field-subscript-wrapper{
  display: none !important;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

.example-chip-list {
  width: 100%;
}

.white{
  color: white;
}
.mat-mdc-standard-chip {
  --mdc-chip-disabled-label-text-color: #ffffff;
  --mdc-chip-elevated-container-color: #F79009;
  --mdc-chip-label-text-color: #ffffff;
}



.mat-mdc-form-field-infix{
--mdc-filled-text-field-focus-active-indicator-color: red;
}

.mat-primary{
--mdc-filled-text-field-focus-active-indicator-color: #F79009;
--mdc-filled-text-field-focus-label-text-color: #F79009 !important;
}
