<div class="backgroun-wrapper">
  <div class="background-1"></div>
  <img
    class="background-image"
    src="../../../assets/images/mainRegisterBackgroundImage.png"
    alt=""
  />
</div>
<div class="wrapper">
  <div class="cadastrar-wrapper">
    <div class="header-wrapper">
      <img class="icon" src="../../../assets/images/registerIcon.png" alt="" />
      <h1>Cadastre-se e anuncie sua propriedade</h1>
      <p>
        Não perca tempo, comece hoje mesmo e encontre o locatário ideal para sua
        propriedade.
      </p>
    </div>
    <div class="form-wrapper">
      <form [formGroup]="anuncianteForm">
        <div>
          <label for="fullname">Nome Completo:</label><br />
          <input
            class="form-input"
            type="text"
            placeholder="Fernando Soares"
            formControlName="name"
            [class.is-invalid]="
              anuncianteForm.get('name')?.errors &&
              anuncianteForm.get('name')?.touched
            "
          />
          <div
            *ngIf="anuncianteForm.get('name')?.hasError('required')"
            class="invalid-feedback"
          >
            O nome é obrigatório
          </div>
          <div
            *ngIf="anuncianteForm.get('name')?.hasError('maxlength')"
            class="invalid-feedback"
          >
            O nome deve ter no máximo 250 caracteres
          </div>
        </div>
        <br /><br />

        <div>
          <label for="email">Email:</label><br />
          <input
            class="form-input"
            type="email"
            id="email"
            placeholder="exemplo@gmail.com"
            formControlName="email"
            [class.is-invalid]="
              anuncianteForm.get('email')?.errors &&
              anuncianteForm.get('email')?.touched
            "
          />
          <div
            *ngIf="anuncianteForm.get('email')?.hasError('required')"
            class="invalid-feedback"
          >
            O email é obrigatório
          </div>
          <div
            *ngIf="anuncianteForm.get('email')?.hasError('email')"
            class="invalid-feedback"
          >
            O campo não é um email válido
          </div>
          <br /><br />
        </div>

        <div>
          <label for="password">Senha:</label><br />
          <input
            class="form-input"
            type="password"
            placeholder="********"
            id="password"
            formControlName="password"
            [class.is-invalid]="
              anuncianteForm.get('password')?.errors &&
              anuncianteForm.get('password')?.touched
            "
          />
          <div
            *ngIf="anuncianteForm.get('password')?.hasError('required')"
            class="invalid-feedback"
          >
            A senha é obrigatória
          </div>
          <div
            *ngIf="anuncianteForm.get('password')?.hasError('minlength')"
            class="invalid-feedback"
          >
            A senha precisa ter no mínimo 8 caracteres
          </div>

          <br /><br />
        </div>
        <div>
          <label for="dob">Data de Nascimento:</label><br />
          <input
            class="form-input"
            type="date"
            id="dob"
            placeholder="22/10/2001"
            formControlName="birthDate"
            [class.is-invalid]="
              anuncianteForm.get('birthDate')?.errors &&
              anuncianteForm.get('birthDate')?.touched
            "
          />
          <div
            *ngIf="anuncianteForm.get('birthDate')?.hasError('required')"
            class="invalid-feedback"
          >
            A data de nascimento é obrigatória
          </div>
          <br /><br />
        </div>
        <div>
          <label for="phone">Telefone:</label><br />
          <input
            class="form-input"
            type="tel"
            id="phone"
            formControlName="phoneNumber"
            mask="(00) 00000-0000"
            placeholder="(00) 00000-0000"
            [class.is-invalid]="
              anuncianteForm.get('phoneNumber')?.errors &&
              anuncianteForm.get('phoneNumber')?.touched
            "
          />
          <div
            *ngIf="anuncianteForm.get('phoneNumber')?.hasError('required')"
            class="invalid-feedback"
          >
            O número de telefone é obrigatório
          </div>
          <div
            *ngIf="anuncianteForm.get('phoneNumber')?.hasError('minlength')"
            class="invalid-feedback"
          >
            O telefone deve ter no máximo 11 caracteres
          </div>
          <div
            *ngIf="anuncianteForm.get('phoneNumber')?.hasError('maxlength')"
            class="invalid-feedback"
          >
            O telefone deve ter no mínimo 11 caracteres
          </div>
          <br /><br />
        </div>
        <div class="button-wrapper">
          <button
            class="submit-button"
            [disabled]="!anuncianteForm.valid"
            (click)="register()"
          >
            Cadastre-se
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="outside-content">
    <h2 class="gray-text">
      “Com protocolos avançados de criptografia e autenticação, garantimos a
      integridade das informações pessoais e acadêmicas.”
    </h2>
  </div>
</div>
