<footer>
    <div class="container">
        <div class="first-part-footer">
            <img src="../../../assets/images/Logo.png" class="logo" alt="logo image" routerLink="">
            <div class="nav-items">
                <a class="bold nav-font-size" routerLink="home" routerLinkActive="active">Home</a>
                <a class="bold nav-font-size" routerLink="faculdades" routerLinkActive="active">Faculdades</a>
                <a class="bold nav-font-size" routerLink="universitarios" routerLinkActive="active">Universitários</a>
                <a class="bold nav-font-size" routerLink="destaque-se" routerLinkActive="active">Destaque-se</a>
            </div>
        </div>


        <div class="second-part-footer">
            <hr>
            <div class="second-part-wrapper">
                <p>© 2024 Aluga.Ai - Todos os direitos reservado.</p>
                <div class="termos">
                    <a>Termos</a>
                    <a>Privacidade</a>
                    <a>Cookies</a>
                </div>
            </div>

        </div>
    </div>
</footer>