<p class="fundoLaranja">&nbsp;</p>
<main class="telaPrincipal">
    <div class="modalPrincipal">
        <section class="primeiraSection">
            <div class="div-meu-cad">
                <h1 class="titulo-1">Meu cadastro</h1>
                <p class="titulo-p">Configure o seu cadastro</p>
                <br><br>
                <div class="div-c">
                    <div class="div-dados">
                        <form>
                        <h2>Dados da conta</h2><br>
                        <p class="informacoes"><b>Nome completo</b></p>
                        <input type="text" class="caixaTexto" placeholder="Seu nome" style="background-image: url('/assets/user.png')">
                        <br><br>
                        <p class="informacoes"><b>E-mail</b></p>
                        <input type="text" class="caixaTexto" placeholder="Seu e-mail" style="background-image: url('/assets/mail.png')">
                        <br><br>
                        <p class="informacoes"><b>Telefone</b></p>
                        <input type="text" class="caixaTexto" placeholder="Seu telefone" style="background-image: url('/assets/fone.png')">
                        <br><br>
                        <p class="informacoes"><b>Faculdade</b></p>
                        <input type="text" class="caixaTexto" placeholder="Seu nome" style="background-image: url('/assets/livro.png')">
                        <br><br>
                        <p><b>Gênero</b></p><br>
                        <div class="div-radio">
                            <mat-radio-group aria-label="Selecione uma opção">
                                <mat-radio-button value="Masc"><span>Masculino</span></mat-radio-button>
                                <mat-radio-button value="Fem"><span>Feminino</span></mat-radio-button>
                                <mat-radio-button value="Outros"><span>Outros</span></mat-radio-button>
                            </mat-radio-group>
                        </div><br>
                        <div class="div-tipo">
                            <input type="submit" value="Salvar alterações" class="botaoLaranja">
                           <p><b>Tipo de conta:</b> Estudante</p>
                        </div>    
                        </form>
                    </div>
                </div>
            </div>
            <div class="div-adic-foto">
                <h1 class="titulo-1">Adicionar Foto</h1>
                <p class="titulo-p">Complete seu perfil. Uma imagem pode fazer toda a diferença!</p>
                <br><br>
                <div class="div-d">
                    <div class="div-img-perfil">
                        <h1>Imagem de Perfil</h1>
                        <img src="/assets/perfil.png">
                        <button class="botaoFoto">Carregar foto</button>
                    </div>
                    <div class="alt-senha">
                        <div class="div-senha">
                            <h3>Alteração de senha</h3>
                            <p>Escolha uma senha forte que você não esteja usando em nenhum outro lugar.</p>
                        </div>
                        <div class="div-btn-senha">
                            <button class="botaoSenha">Alterar senha</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br><br>
        <hr class="linha">
        <section class="segundaSection">
            <div class="div-pers">
                 <img src="/assets/drop-img.png" width="60" height="60">
                <div class="div-drop">
                    <h1>Personalidade</h1>
                    <p>Destaque sua personalidade de forma autêntica, pois ela será exibida como seus <span><b>interesses</b></span> no <span><b>feed.</b></span></p>
                    <div class="conteudo">
                        <input type="text" class="inp-pers" style="background-image: url('/assets/search.png')"><br>
                        <button class="botaoPers">Salvar personalidade</button>
                    </div>
                </div> 
                
            </div>
            <div class="div-hobbies">
              <div class="div-drop esquerda">
                    <h1>Hobbies</h1>
                    <p>Hobbies são coisas que fazemos por diversão e interesse pessoal, então escolha a melhor <span><b>combinação</b></span></p>
                    <div class="conteudo">
                        <input type="text" class="inp-pers" style="background-image: url('/assets/search.png')"><br>
                        <button class="botaoPers">Salvar hobbies</button>
                    </div>
                </div>
                <img src="/assets/drop-img.png" width="60" height="60"> 
            </div>
        </section>
    </div>
</main>

<div class="back"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>