<div class="wrapper">
    <div class="img-property-container">
        <img class="img-property" src="../../../assets/images/imageProperty1.png" alt="">
        <img class="img-property" src="../../../assets/images/imageProperty2.png" alt="">

        <div class="arrow-holder">

            <div class="left-arrow">
                <mat-icon class="arrow-icon">chevron_left</mat-icon>
            </div>
            <div class="right-arrow">
                <mat-icon class="arrow-icon">chevron_right</mat-icon>
            </div>
        </div>
    </div>

    <div class="details-owner-holder">
        <div class="details-holder overflow">
            <div class="details">
                <h1 style="font-size: 36px; font-weight: 500; color: #101828;">Detalhes</h1>
                <p style="margin-top: 10px !important;">Configure seu cadastro.</p>

                <div class="details-grid">
                    <div class="details-item">
                        <mat-icon>home</mat-icon>
                        <div>
                            <h2>ÁREA CONSTRUÍDA</h2>
                            <p>100m²</p>
                        </div>
                    </div>

                    <div class="details-item">
                        <mat-icon>bed</mat-icon>
                        <div>
                            <h2>QUARTOS</h2>
                            <p>2</p>
                        </div>
                    </div>

                    <div class="details-item">
                        <mat-icon>bathtub</mat-icon>
                        <div>
                            <h2>BANHEIROS</h2>
                            <p>3</p>
                        </div>
                    </div>

                    <div class="details-item">
                        <mat-icon>directions_car</mat-icon>
                        <div>
                            <h2>VAGAS NA GARAGEM</h2>
                            <p>2</p>
                        </div>
                    </div>

                    <div class="details-item">
                        <mat-icon>home</mat-icon>
                        <div>
                            <h2>ÁREA CONSTRUÍDA</h2>
                            <p>100m²</p>
                        </div>
                    </div>

                    <div class="details-item">
                        <mat-icon>home</mat-icon>
                        <div>
                            <h2>ÁREA CONSTRUÍDA</h2>
                            <p>100m²</p>
                        </div>
                    </div>
                </div>
                <hr style="margin-top: 30px;" class="separator">
                <div class="caracteristicas-wrapper">
                    <h1>Características do imóvel</h1>
                    <p>Configure seu cadastro</p>
                </div>

            </div>
        </div>
        <div class="owner-holder overflow">
            <div class="price-wrapper">
                <h1 class="price" style="font-size: 60px; font-weight: 500; color: #344054; width: fit-content;">R$ 380,00</h1>
                <p style="text-align: end; margin-top: 10px !important; ">Mensal</p>
            </div>
            <hr class="separator">

            <div class="owner-info-wrapper">
                <div class="picture-name-wrapper">
                    <img src="../../../assets/images/Person image.png" alt="">
                    <div class="name-wrapper">
                        <h1>Raphael Carneiro</h1>
                        <p>Proprietário</p>
                    </div>
                </div>
                <button class="button">Entre em contato</button>
            </div>
        </div>
    </div>
</div>