<div class="wrapper">
    <div class="img-property-container">
        <img class="img-property" src="../../../assets/images/imageProperty1.png" alt="">
        <img class="img-property" src="../../../assets/images/imageProperty2.png" alt="">

        <div class="left-arrow">
            <mat-icon class="arrow-icon">chevron_left</mat-icon>
        </div>
        <div class="right-arrow">
            <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </div>
    </div>

    <div class="details-owner-holder">
        <div class="details-holder overflow">
            <div class="details">
                <h1 style="font-size: 36px; font-weight: 500; color: #101828;">Detalhes</h1>
            </div>
        </div>
        <div class="owner-holder overflow">
            <h1 class="price" style="font-size: 60px; font-weight: 500; color: #101828;">R$ 380,00</h1>
        </div>
    </div>
</div>
