/* You can add global styles to this file, and also import other style files */
//@import "tailwindcss/base";
//@import "tailwindcss/utilities";
//@import "tailwindcss/components";

:root{
    --primary-orange-color: #F79009;
    --nav-text-color: #344054;
    --teste: red;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
html,
body, p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

html,body, app-root{
    height: 100%;
}

app-root{
    display: flex;
    flex-direction: column;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//useful classes

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
