<div class="wrapper">
    <div class="top-row">
        <div class="img-container">
            <img class="img" src="../../../assets/images/feedCardImage.png" alt="">
        </div>
        <div class="inside-row-holder">
            <div class="first-row">
                <!-- Tudo isso vai vim do banco ex: {{aluno.name}}-->
                <div class="user-information">
                    <h1 calss="base-color">Lucas Finno</h1>
                    <h2 class="grey-color">24 - Facens</h2>
                </div>
                <div class="perfil">
                    <h3>Ver perfil</h3>
                </div>
            </div>
            <div class="second-row">
                <h3>Informações básicas e estilo de vida</h3>
            </div>
        </div>
    </div>
    <div class="chip-holder">
        <mat-chip-set>
            <mat-chip>Churrasco</mat-chip>
            <mat-chip>Futebol</mat-chip>
            <mat-chip>Organizado</mat-chip>
            <mat-chip>ADS</mat-chip>
            <mat-chip>Bebo socialmente</mat-chip>
            <mat-chip>Filmes</mat-chip>
            <mat-chip>Musica</mat-chip>
            <mat-chip>Livros</mat-chip>
            <mat-chip>Academia</mat-chip>
            <mat-chip>Rock</mat-chip>
            <mat-chip>Jogos</mat-chip>
        </mat-chip-set>
    </div>
    <div class="button">
        <h1>Conectar</h1>
    </div>


</div>