<div class="backgroun-wrapper">
  <div class="background-1"></div>
  <img
    class="background-image"
    src="../../../assets/images/mainRegisterBackgroundImage.png"
    alt=""
  />
</div>
<div class="wrapper">
  <div class="cadastrar-wrapper">
    <img class="icon" src="../../../assets/images/registerIcon.png" alt="" />
    <h1>Como deseja se cadastrar?</h1>
    <p>Escolha melhor maneira de se conectar à nossa plataforma!</p>
    <h2 class="button" routerLink="universitario">Universitário</h2>
    <h2>Ou</h2>
    <h2 class="button" routerLink="anunciante">Anunciante</h2>
  </div>
  <div class="outside-content">
    <img
      class="outside-people-img"
      src="../../../assets/images/registerPeople.png"
      alt=""
      srcset=""
    />
    <h2 class="gray-text">
      “Nossa prioridade é garantir um ambiente confiável e protegido para você
      viver e aproveitar ao máximo sua jornada universitária.”
    </h2>
  </div>
</div>
