<div class="backgroun-wrapper">
  <div class="background-1"></div>
  <img
    class="background-image"
    src="../../../assets/images/mainRegisterBackgroundImage.png"
    alt=""
  />
</div>
<div class="wrapper">
  <div class="cadastrar-wrapper">
    <img class="icon" src="../../../assets/images/registerIcon.png" alt="" />
    <h1 style="font-weight: 400;">Como deseja se cadastrar?</h1>
    <p>Escolha melhor maneira de se conectar à nossa plataforma</p>
    <button class="button" style="font-weight: 500; font-size: 16px;" routerLink="/registrar/universitario">Universitário</button>
    <h2 class="text" style="font-weight: 100;">ou</h2>
    <button class="button" style="font-size: 16px; font-weight: 500;" routerLink="/registrar/anunciante">Anunciante</button>
  </div>
  <div class="outside-content">
    <img
      class="outside-people-img"
      src="../../../assets/images/registerPeople.png"
      alt=""
      srcset=""
    />
    <h2 class="gray-text">
      “Nossa prioridade é garantir um ambiente confiável e protegido para você
      viver e aproveitar ao máximo sua jornada universitária.”
    </h2>
  </div>
</div>
